body{
    background: url(./img/pink\ and\ blue\ clock\ timer.jpeg)
   
}


p{
    font-size: 75px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    text-align: center;
    color: whitesmoke
    
    
} 

.container {
    display: flex;
    flex-direction: column;
}


h4 {
    position: relative;
    left: 675px;
    font-size: 30px;
}


.container-two{
    display: flex;
    justify-content: center;
  }

 .container-three{
     display: flex;
     justify-content: center;
 } 





