body{
    background: url(./img/pink\ and\ blue\ clock\ timer.jpeg)
   
}


p{
    font-size: 75px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    text-align: center;
    color: whitesmoke
    
} 


